*{
    padding: 0px;
    margin: 0px;
}.Home{
    background-color: rgba(8, 2, 54, 0.91);
    width: 15%;
    height: 100vh;
    color: rgb(212, 212, 212);
  padding: 0px 10px;
}
.line{
  border: 1px solid rgb(150 138 138 / 18%);
    margin-top: 10px;
    margin-bottom: 10px;
}
.main{
 padding: 20px;
    line-height: 30px;
    color: #fdfdfdb5;
}
.main ul{
    display: flex;
    flex-direction: column;

    list-style-type: none;

}
.main ul li{
    padding: 7px 0px;
    cursor: pointer;
}
.button button{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(29, 135, 248, 0.967);
    color: white;
    text-align: start;

}
.logout{
    display: flex;
    height: 38vh;
    align-items: flex-end;
    justify-content: center;
    color: rgb(239, 112, 112);
}
.padding-icon{
    padding-right: 10px;
}
.button{
    padding-left: 10px;
}
.logo{
    width: 170px;
    /* height: 70px; */
    margin-top: 10px;
}
.page{
    display: flex;
}
.details{
    width: 100%;
    padding: 10px;
}
.Clinic{
    display: flex;
    justify-content: space-between;
}
.photo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.support{
   border: 2px solid black;
   padding: 5px 10px;
   background-color: rgb(223, 229, 236);
   border-radius: 5px;
   border-style: none;
}
.history ul{
    display: flex;
    gap: 30px;
    padding-top: 25px;
    list-style-type: none;
}
.personal{
    padding: 8px;
    background-color: rgb(193, 212, 235);
    border-bottom: 5px solid rgb(84, 84, 233);
    color: blue;
    font-weight: bold;
}
.info{
    padding: 5px;
    line-height: 28px;
    font-size: 18px;
}
.team{
    color: rgb(10, 10, 229);
}
.circle{
    border: 3px solid blue;
    border-radius: 50%;
    margin: 10px 10px;
    height: 100px;
    width: 100px;
}
.Daniel{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
   /* flex-wrap: wrap;*/
} 
.austin{
     display: flex;
      width: 80%;
      justify-content: space-between;
       padding-bottom: 20px;
        padding-top: 20px;
}
.manager{
     display: flex;
      width: 80%;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
}
.mail{
    display: flex;
      width: 40%;
      justify-content: space-between;
      padding-top: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info button{
    background-color: rgb(18, 60, 157);
    color: white;
    padding: 5px 60px;
    border-radius: 5px;
}
